.modal {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(54, 55, 56, 0.3);
}

.modal .close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #000;
    font-size: 15px;
}

.modal form {
    position: relative;
    width: 300px;
    background: #e3e3e3;
    margin: 200px auto 0 auto;
    padding: 25px;
}
.modal form * {
    display: block;
    margin: 10px 0;
}